---
import CurrentlyPlaying from "../components/LastFM";
import SocialLink from "../components/SocialLink.astro";
---

<html class="w-full" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat Display:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Rachelle DeMan</title>
  </head>
  <body class="bg-[#0C0D14] text-white align-center w-full min-h-full">
    <div class="absolute w-full overflow-hidden -z-10">
      <div
        class="relative w-full -translate-x-1/2 md:left-1/2 md:-translate-x-1/3"
      >
        <svg
          viewBox="0 0 822 631"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="w-[200%] md:w-2/3"
        >
          <rect
            x="419.584"
            y="-302.327"
            width="470.794"
            height="805.9"
            transform="rotate(31.3467 419.584 -302.327)"
            fill="url(#paint0_linear_10_139)"></rect>
          <rect
            x="0.329346"
            y="-57.3891"
            width="470.794"
            height="805.9"
            transform="rotate(-31.35 0.329346 -57.3891)"
            fill="url(#paint1_linear_10_139)"></rect>
          <defs>
            <linearGradient
              id="paint0_linear_10_139"
              x1="654.981"
              y1="-302.327"
              x2="654.981"
              y2="503.573"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#FF3257"></stop>
              <stop offset="1" stop-color="#FF3257" stop-opacity="0"></stop>
            </linearGradient>
            <linearGradient
              id="paint1_linear_10_139"
              x1="235.726"
              y1="-57.3891"
              x2="235.726"
              y2="748.511"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#FF3257"></stop>
              <stop offset="1" stop-color="#FF3257" stop-opacity="0"></stop>
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>

    <main
      class="flex flex-col items-center justify-center w-full p-16 font-bold text-center md:p-24"
    >
      <h1 class="pt-12 text-5xl font-bold md:text-7xl">Rachelle</h1>
      <h1 class="pb-8 text-5xl font-bold md:text-7xl md:pb-8">DeMan</h1>
      <h2 class="text-2xl font-thin md:text-3xl pb-14 md:pb-16">
        Software Developer.<br />CS Student @ McMaster.
      </h2>
      <a
        class="text-xl md:text-2xl py-2 px-6 md:py-4 md:px-10 bg-[#D42C4B] rounded-xl transition ease-in-out hover:scale-110"
        href="/Rachelle_DeMan_feb_resume.pdf">Resume</a
      >
      <div
        class="flex flex-col justify-center gap-4 pt-32 md:gap-12 md:pt-24 md:flex-row"
      >
        <SocialLink
          link="https://github.com/demanr"
          title="Github"
          name="demanr"
          logo="/githubLogo.svg"
        />
        <SocialLink
          link="https://www.linkedin.com/in/r-deman/"
          title="LinkedIn"
          name="r-deman"
          logo="/linkedinLogo.svg"
        />
        <SocialLink
          link="mailto:rachelledeman@icloud.com"
          title="Email"
          name="rachelledeman@icloud.com"
          logo="/mailLogo.svg"
        />
      </div>
      
    </main>
    <div class="pb-12"></div>
    <div class="fixed bottom-0 right-0 z-10 w-full lg:w-fit lg:p-4 backdrop-blur-sm lg:backdrop-blur-0 min-h-[1px]">
        <CurrentlyPlaying client:only />
    </div>
  </body>
</html>
